<div class='hero-bg'>
	<div class="hero-wrap">
	  <div class="hero text-center">
	    <h1>Learn Magic from the Pros</h1>
	    <h2>I'm an illusionist, Michael.</h2>
	    <%= link_to 'Learn More', '#', class: 'btn btn-success mt-2' %>
		</div>
	</div>
</div>

