<div class='form-wrap'>
	<h2>Add a Section</h2>
	<%= simple_form_for @section, url: instructor_course_sections_path(current_course) do |f| %>
		<%= f.input :title %>
		<%= f.submit 'Add Section', class: 'btn btn-cta' %>
	<% end %>
</div>