
/* Colors */

$body-color: #444;
$brand-purple: rgb(120, 70, 80);
$brand-purple-hover: rgb(100, 50, 60);
$call-to-action: rgb(71, 112, 100);
$call-to-action-hover: rgb(51, 92, 80);



$border-dark: 1px solid #555