<div class='courses-wrap'>
	<% @courses.each do |course| %>
	<div class='courses'>
		<%= link_to course.title, course_path(course), class: 'courses-title' %>
		<h3 class='courses-cost'><%= number_to_currency course.cost, unit: '£' %></h3>

		<p class='courses-description'><%= truncate(course.description, length: 250, separator: ' ') %></p>
		<div class='courses-cta'>
			<%= link_to 'More Details', course_path(course), class: 'btn btn-cta' %>
		</div>
	</div>
	<% end %>
</div>