@import 'utilities/variables';

.sections-header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.course-section {
	margin-bottom: 2rem;
}

.course-sections > h2 {
	text-align: center;
	font-size: 2rem;
	line-height: 1.5em;
	margin-bottom: 1.5rem;
	font-weight: bold;
}

.course-section-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	background: #eee;
	margin-bottom: 1rem;
	padding: 1rem;
}

.course-sections ol {
	list-style: none;
	padding-left: 0;
}

.course-section-title {
	font-size: 1.75rem;
	font-weight: 200;
}

.section-lesson-main {
	padding-left: 4rem;
}

.section-lesson-article {
	display: flex;
	align-items: baseline;
	margin-bottom: 1.5rem;
}

.section-lesson-title {
	font-size: 1.125rem;
	font-weight: bold;
}

.section-lesson-subtitle {
	font-size: 1rem;
	font-weight: 100;
	font-style: italic;
	margin-left: .5rem;
}

.section-lesson-link {
	font-weight: 500;
	margin-left: auto;
}

.add-lesson-link, .add-section-link {
	border-bottom: 1px solid $brand-purple;
}



