@import 'utilities/variables';

/* COURSES VIEW */
.courses-wrap {
	width: 90%;
	margin: 6em auto;
}

.courses, .course{
	margin-bottom: 6rem;
	display: flex;
	flex-direction: column;
}

.courses-title {
	color: $brand-purple;
	font-size: 2rem;
	line-height: 2em;
	font-weight: 600;
}

.courses-cost, .course-cost {
	font-size: 1rem;
	font-weight: bold;
}

.courses-cta {
	align-self: flex-end;
}


/* SINGLE COURSE VIEW */
.course-title {
	font-size: 2.5rem;
	line-height: 1.5em;
	margin-bottom: 1.5rem;
	font-weight: 600;
}

.course-body {
	display: flex;
	margin-bottom: 3rem;
}

.course-meta {
	font-size: 1rem;
	line-height: 1.5em;
	margin-bottom: .5em;
}

.course-meta strong {
	color: $brand-purple;
}

.course-meta span {
	font-weight: 400;
	font-style: italic;
}

.course-description {
	width: 80%;
	padding-left: 1rem;
}

.course-sidebar {
	width: 20%;
	padding-right: 1rem;
	border-right: $border-dark;
}

.course-sidebar .btn {
	width: 100%;
}

.instructor-course-nav {
	margin-bottom: 2rem;
}

.instructor-course-nav a {
	padding-bottom: 1px;
	border-bottom: 1px solid $brand-purple;
}


