@import 'utilities/variables';

#footer {
  position: relative;
  width: 100%;
  border-top: $border-dark;
  font-family: "Helvetica Neue", Helvetica;
  padding: 0 0 2rem 1rem;
}

.footer-user {
  padding-top: 2rem;
  text-decoration: underline;
}

.footer-links, .footer-contact, .footer-social {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.footer-links a {
  color: $brand-purple;
  font-weight: bold;
}
