@import 'utilities/variables';

.lesson-title {
	border-bottom: $border-dark;
	line-height: 1.5em;
}

.lesson-subtitle {
	font-size: 1.25rem;
	line-height: 1.5em;
}

.lesson-nav {
	display: flex;
	justify-content: flex-end;
}

#my-video {
	display: block;
	margin: 0 auto;
}