@import 'bootstrap';

$body-color: #222;
$brand-color: rgb(100, 50, 60);



/* HTML Elements */
body {
	font-size: 16px;
	color: $body-color;
}

a {
	text-decoration: none;
	color: $body-color;
}


/* Layout */
.wrap {
	width: 80%;
	margin: 0 auto;
}


/* Elements */



/* Typography */


/* Primary Navigation */

.primaryNav {
	z-index: 1;
	height: 4rem;
}

.primaryNav-logo {
	font-size: 1.75rem;
	font-weight: bold;
	color: $brand-color;
}




/* Hero Section */
.hero-bg {
	background: image_url('pink-dust.png');
	background-position: fixed;
	height: 85vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero {
	color: white;
	opacity: 0.9;
	border: 1px solid white;
	padding: 4rem 8rem;
}









