@import 'bootstrap';
@import 'utilities/variables';


/* HTML Elements */
html {
	height: 100%;
}

body {
	font-size: 16px;
	color: $body-color;
}

a, a:hover {
	text-decoration: none;
	color: $body-color;
}

abbr[title], abbr[data-original-title] {
    text-decoration: none;
    cursor: default;
}


/* Layout */
.wrap {
	width: 90%;
	margin: 0 auto;
}

.form-wrap {
	width: 90%;
	margin: 7em auto;
}


/* Elements */
.btn-cta {
	background: $call-to-action;
	color: white;
}

.btn-cta:hover {
	background: $call-to-action-hover;
	color: white;
}

.btn-clear {
	border: 1px solid $call-to-action;
}
.btn-clear:hover {
	background: $call-to-action-hover;
	border: 1px solid $call-to-action-hover;
	color: white;
}


/* Typography */



/* Primary Navigation */

.primaryNav {
	z-index: 1;
	height: 4rem;
}

.primaryNav-logo {
	font-size: 1.75rem;
	font-weight: bold;

}

.primaryNav-logo:hover {
	color: $brand-purple-hover;
}



/* Hero Section */
.hero-bg {
	background: image_url('pink-dust.png');
	background-position: fixed;
	height: 85vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero {
	color: white;
	opacity: 0.9;
	border: 1px solid white;
	padding: 4rem 8rem;
}

/* Homepage */
.feature {
	margin-top: 5rem;
}


/* Forms */
.form-actions {
	text-align: right;
}

/* Errors */

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}


@media (min-width: 576px) {
	/* Layout */
	.wrap {
		width: 80%;
		margin: 0 auto;
	}

	.form-wrap {
		width: 60%;
	}
}

@media (min-width: 992px) {
	.form-wrap {
		width: 40%;
	}
}



