@import 'utilities/variables';

.course-sections ol {
	list-style: none;
	padding-left: 0;
}

.course-sections h2 {
	font-size: 2rem;
	line-height: 1.5em;
	margin-bottom: 1.5rem;
}

.course-section-title {
	font-size: 1.5rem;
}