<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='wrap'>

  	<header class="primaryNav d-flex justify-content-between align-items-center">

		  <a href='#' class='primaryNav-logo h4'>Explore the Vale</a>
	    
	    <nav class="primaryNav-links">
        <div class='d-flex justify-content-end'>
            <small class='mr-2'>Signed in as: <strong>Davey Wright</strong></small>
        </div>

        <a href='#' class='mr-sm-2 btn btn-clear'>
        	<i class="fa fa-plus-circle"></i>
          Link
        </a>
        <a href='#' class='mr-sm-2 btn btn-clear'>
        	<i class="fa fa-plus-circle"></i>
          Link
        </a>

	    </nav>

		</header>

    <%= yield %>
  </body>
</html>
