<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class='primaryNav-background'>
  		<div class='wrap'>
  			<header class="primaryNav d-flex justify-content-between align-items-center">
				  <h1><a href='#' class='primaryNav-logo'>Flixter</a></h1>
			    <nav class="primaryNav-links">
		        <a href='#' class='mr-sm-2 btn btn-clear'>
		        	<i class="fa fa-plus-circle"></i>
		          Link
		        </a>
		        <a href='#' class='mr-sm-2 btn btn-clear'>
		        	<i class="fa fa-plus-circle"></i>
		          Link
		        </a>
		   		</nav>
		  	</header>
			</div>
		</div>

		<main class='wrap'>
			<%= yield %>
		</main>
  </body>
</html>
